@font-face{
    font-family: Sygma;
    src: url('./Sygma.ttf');
}

@font-face {
    font-family: Agraham;
    src: url('./Agraham.otf');
}

#Welcome {
    font-family: "Agraham";
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

#topimages{
    align-items: center;
}