.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    background: rgb(255, 255, 255);
    margin-top: 180px;
    padding-bottom: 30px;
}
 
.header{
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #009d41;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px; 
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
    color: rgb(136, 128, 236);
}

.input img{
    margin: 0px 30px; 
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #3b3b3b;
    font-size: 19px;
}

.submit-container{
    display: flex;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #752c2c;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

#login {
    font-size: 40px;
    font-family: Roboto;
    margin-top: 10px;
    margin-bottom: -8%;
    color: rgb(42, 23, 117);
}

#email {
    font-family: Roboto;
    font-size: 50px;
    margin-bottom: -10px;
    color: rgb(136, 128, 236);
}

#password {
    font-family: Roboto;
    font-size: 50px;
    margin-bottom: -10px;
    color: rgb(136, 128, 236);
}

#loginbutton {
    font-family: Roboto;
    margin-top: 25px;
    background-color: rgb(136, 128, 236);
    border-color: rgb(136, 128, 236);
}

#createaccount {
    font-family: Roboto;
    margin-bottom: 40px;
    border-radius: 5px;
}

#girl {
    max-height: 400px;
    position: absolute;
    right: 10%;
    margin-top: -25%;
}

#loginbox {
    margin-left: 17%;
    background-color: green;
}

#flexbox-container {
    font-family: Roboto;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
    flex-direction: column;
    margin-bottom: 200px;
}

.features-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: -500px;
    padding-right: -500px;
    text-align: center;
    font-size: 20px;
    margin-top: -10%;
  }

  .features-container .feature1,
  .features-container .feature2,
  .features-container .feature3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(136, 128, 236);
      width: 700px;
      height: 310px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      border: 25px solid white;
      border-radius: 10px; /* Add border-radius for rounded corners */
      margin-bottom: 20px; /* Adjust the margin as needed for spacing between features */
  }

.features-container .feature1 b,
.features-container .feature2 b,
.features-container .feature3 b {
    margin-bottom: -20px;
}

#selection{
    font-size: 50px;
    font-family: "Sygma";
    color: rgb(136, 128, 236);
}

#gyal {
    font-size: 30px;
    font-family: "Roboto";
    background: rgb(68, 63, 137);
    height: 54px;
    max-width: 190px;
    margin-right: 100px;
}