@font-face {
  font-family: 'Anksan';
  src: url('/Users/meryemk/Desktop/plan4now/plan4class/src/fonts/sofachrome/AnkhSanctuary-nROx4.ttf');
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  font-family: 'Anksan';
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1483401757487-2ced3fa77952?q=80&w=3273&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
 color: #ffffff;
  font-family: 'Anksan';
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 150px;
  font-family: 'Anksan';
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #0a0a59;
  font-family: 'Times New Roman', Times, serif;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #7fafde;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #7fafde;
  color: #000;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sit next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #7fafde;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

/* Main column */
.main {
  flex: 70%;
  background-color: #7fafde;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

/* Fake image, just for this example */
.fakeimg5 {
  width: 100%;
  padding: 20px;
  background-image: url('https://media.licdn.com/dms/image/D5603AQEzMmcRXFXbmA/profile-displayphoto-shrink_400_400/0/1683050381082?e=1712793600&v=beta&t=yU0Auc-hOdOVwx_oe30CW-q0oNatcidqU7S3lxXej6U');
}

.fakeimg4 {
  width: 100%;
  padding: 20px;
  background-image: url('https://media.licdn.com/dms/image/D4E03AQEobSj5V7oR4Q/profile-displayphoto-shrink_400_400/0/1701139959838?e=1712793600&v=beta&t=NSKU7eDZotT0_n7il9A7YHL540X-IBI4gE6cYAHPqX0');
}

.fakeimg2 {
  width: 100%;
  padding: 20px;
  background-image: url("https://media.licdn.com/dms/image/D4E35AQHt13o-fi8V1Q/profile-framedphoto-shrink_400_400/0/1695407248525?e=1707616800&v=beta&t=ik7915cx6z0S0xn98fato3Y7rPl8ESCsqf-jo5BKcG4");
}

.fakeimg3 {
  width: 100%;
  padding: 20px;
  background-image: url("https://media.licdn.com/dms/image/C5603AQGY5wI4INd_yQ/profile-displayphoto-shrink_400_400/0/1656723359855?e=1712793600&v=beta&t=vGTZ-7fg8AClGuVUMbo8t7sZAs1se6v3gXliPn8mln4");
}

.fakeimg1 {
  width: 100%;
  padding: 20px;
  background-image: url("/Users/meryemk/Desktop/plan4now/IMG_3128.tiff");
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #0a0a59;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
